<span class="step">Bước 1 Đăng ký</span>
<p> Mở tab mới <a href="https://muabannhadatnhanh.vn/dang-ky/">https://muabannhadatnhanh.vn/dang-ky/</a></p>
<p> Bấm F12, vào tab console dán dòng code dưới đây rồi gõ Enter </p>
<div class="box">
  <code class="hightlight">
    document.getElementsByClassName('next-btn')[0].click()
    setTimeout(function () {
      document.getElementById('pwd1').value = 'Ketcdlena1@@'
      document.getElementById('pwd2').value = 'Ketcdlena1@@'
      document.getElementById('username').value = 'alo'
      document.getElementById('email').value = 'mutyland7a@gmail.com'
    }, 1000);
  </code>
  <button class="btn btn-primary copy" onClick="copy(this)">Copy</button>
</div>

<span class="step">Bước 2 Đăng bài</span>
<p>Vào <a href="https://muabannhadatnhanh.vn/dang-tin/"> https://muabannhadatnhanh.vn/dang-tin/</a></p>
<div class="box">
  <code class="hightlight">
    const change = new Event ('change');

    document.getElementById('term-type').value = [...document.querySelectorAll("select#term-type > option")].filter(a => a.innerText.includes(<%= inra(@product.specific_type_product('muabannhadatnhanh')) %>))[0].value

    document.getElementById('quarter-realty').value = [...document.querySelectorAll("select#quarter-realty > option")].filter(a => a.innerText == <%= inra(@product.direction) %>)[0].value
    document.getElementById('quarter-realty').dispatchEvent(change)

     document.getElementById('post_bedroom').value = [...document.querySelectorAll("select#post_bedroom > option")].filter(a => a.innerText.includes(<%= inra(@product.count_bed) %>))[0].value

    document.getElementById('post_bedroom').dispatchEvent(change)

    document.getElementById('city').value = [...document.querySelectorAll("select#city > option")].filter(a => a.innerText.includes(<%= inra(@product.province) %>))[0].value
    document.getElementById('city').dispatchEvent(change)

    setTimeout(function () {
      document.getElementById('district').value = [...document.querySelectorAll("select#district > option")].filter(a => a.innerText.includes(<%= inra(@product.district) %>))[0].value
      document.getElementById('district').dispatchEvent(change)
      setTimeout(function () {
        document.getElementById('ward').value = [...document.querySelectorAll("select#ward > option")].filter(a => a.innerText.includes(<%= inra(@product.town) %>))[0].value

        document.getElementById('ward').dispatchEvent(change)
      }, 1000);
    }, 1000);

    document.getElementById('post_name_contact').value = <%= inra(@product.name) %>
    document.getElementById('post_phone_contact').value = <%= inra(@product.phone) %>
    document.getElementById('postTitle').value = <%= inra(@product.title) %>
    document.getElementById('post_area').value = <%= inra(@product.area) %>
    document.getElementById('post_price').value = <%= inra(@product.price) %>

    document.getElementById('tinymce').children[0].innerHTML = <%= inra(product.description) %>
    const dataTransfer = new DataTransfer();

   <% product.product_images.each_with_index do |img, i| %>
      <% break if i == 8 %>
      const url<%= i %> = <%= inra(img.full_url) %>
      const fileName<%= i %> = <%= inra("myFile#{i}.jpg") %>

      fetch(url<%= i %>)
        .then(async response => {
          const contentType<%= i %> = response.headers.get('content-type')
          const blob<%= i %> = await response.blob()
          const file<%= i %> = new File([blob<%= i %>], fileName<%= i %>, { contentType<%= i %> })
          dataTransfer.items.add(file<%= i %>);
      })
      setTimeout(function(){
        document.getElementById('upload-file<%= i+1 %>').files = dataTransfer.files
        document.getElementById('upload-file<%= i+1 %>').dispatchEvent(change)
      }, 1000)
    <% end %>
  </code>
  <button class="btn btn-primary copy" onClick="copy(this)">Copy</button>
</div>
